<% @filter[:filters].each_with_index do |sub_filter, index| %>
  <div class="relative flex items-start px-4 transition-colors hover:bg-gray-200 text-gray-700 hover:text-gray-900">
    <div class="min-w-0 flex-1 flex-grow">
      <%= content_tag :label, sub_filter[:name], class: "block py-2 pr-4 text-gray-600 select-none w-full cursor-pointer", for: "filter-#{@filter[:filter_name]}-#{index}" %>
    </div>
    <div class="my-2 flex items-center">
      <% if @filter[:multi] %>
        <%= content_tag :input, "",
                        class: "focus:ring-purple-400 cursor-pointer h-5 w-5 text-purple-500 bg-purple-100 border-0 rounded",
                        type: "checkbox",
                        name: "filter[#{@filter[:filter_name]}][]",
                        value: sub_filter[:value],
                        id: "filter-#{@filter[:filter_name]}-#{index}",
                        checked: sub_filter_checked?(sub_filter),
                        "data-filter-name": @filter[:filter_name],
                        "@click": "filteringForm.requestSubmit()"
        %>
      <% else %>
        <%= content_tag :input, "",
                        class: "focus:ring-purple-400 cursor-pointer h-5 w-5 text-purple-500 bg-purple-100 border-0",
                        type: "radio",
                        name: "filter[#{@filter[:filter_name]}]",
                        value: sub_filter[:value],
                        id: "filter-#{@filter[:filter_name]}-#{index}",
                        checked: sub_filter_checked?(sub_filter),
                        "data-filter-name": @filter[:filter_name],
                        "@click": "filteringForm.requestSubmit()"
        %>
      <% end %>
    </div>
  </div>
<% end %>
