name: Tests

on: [push]

jobs:
  rspec_postgres:
    name: RSpec (Postgres)
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14-alpine
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: sn_filterable_test

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Setup Database
      env:
        RAILS_ENV: test
      run: cd spec/dummy && bin/rails db:create db:schema:load
    - name: Test with rspec
      env:
        RAILS_ENV: test
      run: bundle exec rspec
    - name: Archive RSpec screenshots
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: rspec-screenshots
        path: tmp/screenshots
  rspec_mysql:
    name: RSpec (MySQL)
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.4
        ports: ["3306:3306"]
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: sn_filterable_test
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=10s
          --health-retries=5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4.8
        bundler-cache: true
    - name: Setup Database
      env:
        RAILS_ENV: test
        DATABASE_URL: mysql2://root:password@127.0.0.1:3306/sn_filterable_test
        DATABASE_ENCODING: utf8mb4
      run: cd spec/dummy && bin/rails db:schema:load
    - name: Test with rspec
      env:
        RAILS_ENV: test
        DATABASE_URL: mysql2://root:password@127.0.0.1:3306/sn_filterable_test
        DATABASE_ENCODING: utf8mb4
      run: bundle exec rspec
    - name: Archive RSpec screenshots
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: rspec-screenshots
        path: tmp/screenshots
